<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ck.admin_fiction.mapper">
    <resultMap id="userInfo" type="com.ck.admin_fiction.bean.BlogsUserInfo">
        <id column="uuit" property="uuit"></id>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="address" property="address"/>
        <result column="phone" property="phone"/>
        <result column="company" property="company"/>
    </resultMap>


    <select id="queryUserInfoList" resultMap="userInfo">
      select * from blogs_user_info;
  </select>
</mapper>